.re-background{
    background-color: #78912d;
    color: white;
}

.navbar-toggler-icon {
    background-color: #fdffa3;
}

.all-viruses-background{
    background-color: #fdffa3;
}

.re-logo{
    background-color: #78912d;
    color: #fdffa3;
}
