<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="mt-3">
    <div class="jumbotron  ">
        <h1 class="display-1 font-italic text-lg-center  ">TennisFans
            <img src="https://res.cloudinary.com/otkata/image/upload/v1554814402/romv78fhi62tkn00kvgy.png" alt="profileImg" height="170">
        </h1>

        <hr>
        <p>
            <img src="https://res.cloudinary.com/otkata/image/upload/v1554886354/prlbhlqubrbophebg6i8.png" alt="profileImg" height="200">

            Everything about the world of tennis! <a th:href="@{/users/login}">Login</a> or <a th:href="@{/users/register}">Register</a> for more...
        </p>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>

